.body {
  background-image: url('./img/inkl.jpg');
  min-height: 100%;
  background-size: cover;
  margin: 0;
  position: relative;
}

#ink-painting {
  width: 100%;
  height: 100%;
}

.reservation-form {
    text-align: center;
    padding: 20px;
    position: absolute; /* Position the reservation form absolutely within the .body */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center it perfectly */
    z-index: 1; /* Set a higher z-index to place it on top of the background */
}


.form-group {
    margin-bottom: 15px;
}


.navigation-container {
  display: flex;
  justify-content: space-evenly;
  position: sticky; /* Make the navigation container sticky to stay at the top */
  top: 0; /* Stick it to the top */
  text-align: center;

}

.nav-box {
  font-size: 20px;
  cursor: pointer;
}

/*--------------------------------------------------------------
  # Navigation Bar
  --------------------------------------------------------------*/
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: #0d0404;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #737e8c;
  }



  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /*--------------------------------------------------------------
  # Background Section
  --------------------------------------------------------------*/
#background {
  width: 100%;
  height: 100vh;
  background: url("../img/inkl.jpg") top right;
  background-size: cover;
  position: relative;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    z-index: 997;
    transition: all 0.5s;
    height: 80px;
    background: rgba(25, 28, 31, 0.8);
  }
  
  #header.header-transparent {
    background: transparent;
  }
  
  #header.header-scrolled {
    height: 60px;
    background: rgba(25, 28, 31, 0.8);
  }

  /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #3e7bc1;
  text-decoration: none;
}

a:hover {
  color: #3e7bc1;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}
